In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('diamonds.csv', index_col=0)
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
from sklearn.model_selection import train_test_split


Xtrain, Xtest, ytrain, ytest = train_test_split(df.drop("price", axis=1), df.price, test_size=0.25, random_state=81)
Xtrain.head()

       carat        cut color clarity  depth  table     x     y     z
51976   0.26  Very Good     F    VVS1   59.0   61.0  4.17  4.20  2.47
26481   1.60    Premium     G    VVS2   60.6   60.0  7.51  7.57  4.57
39487   0.41  Very Good     E     VS1   59.8   61.0  4.79  4.85  2.88
46113   0.53      Ideal     H    VVS1   62.4   54.0  5.18  5.20  3.24
52897   0.73      Ideal     G     SI2   61.8   56.0  5.76  5.83  3.58

In [9]:
import catboost


model = catboost.CatBoostRegressor()
model.fit(Xtrain, ytrain,
          cat_features=df.select_dtypes(include=object).columns.tolist(), verbose=100)
predicted = model.predict(Xtest)
predicted

Learning rate set to 0.073465
0:	learn: 3739.0691251	total: 38.8ms	remaining: 38.8s
100:	learn: 608.0597079	total: 3.38s	remaining: 30.1s
200:	learn: 558.3989419	total: 6.65s	remaining: 26.4s
300:	learn: 536.2333440	total: 9.91s	remaining: 23s
400:	learn: 519.5737793	total: 13.3s	remaining: 19.8s
500:	learn: 506.3482124	total: 16.7s	remaining: 16.6s
600:	learn: 494.0222503	total: 20s	remaining: 13.3s
700:	learn: 483.8135242	total: 23.4s	remaining: 9.98s
800:	learn: 475.9975007	total: 26.8s	remaining: 6.65s
900:	learn: 466.7065367	total: 30.2s	remaining: 3.32s
999:	learn: 460.0424550	total: 33.5s	remaining: 0us

array([1382.7431807 , 2388.69245444, 4421.0516527 , ..., 1803.93685465,
       5726.7733221 , 6346.4722134 ])

In [10]:
from sklearn.metrics import mean_squared_error as MSE

MSE(ytest, predicted) ** 0.5

527.590521874646